.container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherDetailContainer {
  width: 90%;
}

.weekWeather {
  width: 90%;
  display: flex;
  flex-direction: column;
}

h3,
p {
  margin: 0.2rem;
}

.weekWeatherContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.loadingText {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
