.container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherDetailContainer {
  width: 90%;
}

.detailContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.tableRow {
  min-height: 50px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.dateBox {
  display: flex;
  align-items: center;
}

.date {
  min-height: 50px;
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.weatherContainer {
  display: flex;
  align-items: center;
}

.weatherBox {
  min-height: 100px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.weatherTableRow {
  min-height: 100px;
}

.windTableRow {
  min-height: 100px;
}

.windBox {
  display: flex;
  align-items: center;
}

.wind {
  min-height: 100px;
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.waveTableRow {
  min-height: 100px;
}

.waveBox {
  display: flex;
  align-items: center;
}

.wave {
  min-height: 100px;
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.popsContainer {
  display: flex;
  align-items: center;
}

.popsBox {
  display: flex;
  flex-direction: column;
}

.pops {
  display: flex;
}

.pops div {
  min-height: 30px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.popsTableRow {
  min-height: 60px;
}

.weekWeather {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

h2,
p {
  margin: 0 0.2rem;
}

.weekWeatherContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.loadingText {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
