.container {
  display: flex;
  justify-content: center;
}

.backButton {
  padding: 0.5rem 0;
  height: 3rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.weatherContainer {
  margin-top: 4rem;
  width: 90%;
}
.weatherContainer h2 {
  padding-left: 1rem;
}

.regionContainer {
  border-top: 1px solid gray;
  width: 100%;
  margin-bottom: 1rem;
}
.regionContainer h3 {
  
}

.regionDetailBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.regionWeather {
  display: flex;
  justify-content: center;
  align-items: center;
}
